
body
{
background-image:url('https://scontent-a-lax.xx.fbcdn.net/hphotos-prn1/996697_10152155578439789_818031286_n.jpg');

/*background-image: url("/Headshot.jpg");*/
background-color:#cccccc;
background-size: 50%;
background-attachment:fixed;
}

#container {
 margin-right: 2%;
  padding-bottom: 50%;
  margin-top:5%;
  background-color: rgba(0,0,0, .50); 
  width: 30%;
  text-align: left;
  min-width: 230px;
  display:block;
  float:right;
}

.social {
	float:right;
	margin:10px;
}
.social>a {
	border: 1px solid #666;
	padding:5px;
	background-color:#dcdcdc;
	color:black;
	text-decoration:none;
	font-size:.75em;
	font-family: 'Poiret One', cursive;
	float:right;
}

#position {
	padding: 10px;
	text-align:right;
	font-size: 1em;
}

#about {
	text-align:left;
	padding-top:30px;
	margin-top:20px;
}

h1 {
	font-family: 'Poiret One', cursive;
	font-size: 5em;
	color:#F5F5F5;
	margin-bottom:-15px;
	text-align:right;
	}

h2 {
	font-family: 'Poiret One', cursive;
	font-size: 3em;
	color:#F5F5F5;
}

p {
	font-family: 'Poiret One', cursive;
	font-size:1em;
	color:#F5F5F5;
	padding-left:30px;
}

@media screen and (max-width: 900px) {

	body {
	background-size: cover;
	background-attachment:fixed;
	}
h1 {
	font-size: 4em;
	}	
}

/*#ribbon {
	height: 220;
	width: 635;
	background: #518296;
}

#solid {
	opacity:5;
}

.float {
  background: blue;
  height: 300px;
}

div {
	display:block;
}
*/




/********************************/
/* Box Model ********************/
/********************************/

/*.col {
  background: #333;
  color: #fff;
  padding: 40px;
  border: 5px solid #ccc;
  width: 25%;
  height: 100px;
  float: left;
}

#box-model, #box-sizing {
  padding: 20px;
}

#box-model:after {
  content: '';
  display: block;
  clear: both;
}

#box-sizing .col {
  box-sizing: border-box;
}*/

